.container {
    width: 68%;
    p {
        max-width: 98%;
        color: rgb(92, 102, 123);
        font-weight: bold;
        font-size: 15px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;

        &:nth-child(2n) {
            font-size: 16px;
            color: rgb(46, 60, 87);
            margin-bottom: 10px;
        }
    }
    
    h1 {
        margin: 0 0 30px 0;
        color: rgb(46, 60, 87);
    }
}