.container {
    width: 50%;
    min-width: 625px;
    min-height: 50vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 8px 2px rgba(0,0,0,0.75);
}

.displayContainer {
    display: flex;
    justify-content: space-between;
}